@charset "UTF-8";

body {
	background-color: #e8eae8;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
  border: 1px solid rgba(0, 0, 0, 0.125); 
}

.form-control {
  border-color: #ccc; 
}

.custom-table td {
  border-bottom: 1px solid #ccc;
}